:root {
    font-size: 62,5%;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    background: url("../images/paper-texture-colorful-abstract-background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* IE */
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/main_bg_2.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/main_bg_2.jpg', sizingMethod='scale')";  
}

.header {
    margin-left: 10rem;
    
    /* background-image: linear-gradient(to right, lightpink , antiquewhite);
     */
}

nav {
    display: flex;
    border: 1px solid black;
    position: sticky;
    top: 0;
    text-align: center;
    justify-content: center;
}

.logo {
    border: 1px solid black;
}

nav ul {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    padding: 0 15rem;
}

nav ul li {
    list-style-type: none;
    font-family: 'Gochi Hand', cursive;
    font-size: 3rem;
    
}

nav ul li a {
    text-decoration: none;
    color: #CCC2FF;
}

.logo {
    
}

.music_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: -2rem; */
}

.music_section > div:first-of-type {
    margin: 1rem 0;
}

@media (max-width: 767px) {
    :root {
        font-size: 0.8rem;
    }
    
    .small_player{
        width: 20%;
    }

    .big_player {
        display: none;
    }

    .logo {
        width: 35%;
    }
}

@media (min-width: 768px) {
    .small_player {
        display: none
    }

    .big_player {
        width: 100%;
    }

    .logo {
        width: 15rem;
    }
}


.info {
    width: 40%;
    text-align: center;
    margin: 2rem 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.album_section {
    text-align: center;
}

form {
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.name, .email {
    
    font-size: 1.2rem;
    line-height: 2rem;
}


.name > input, .email > input {
    font-size: 1.2rem;
    padding: 0.5rem;
}

.email > input {
    margin-bottom: 1rem;
}

.button {
    text-align: center;
}

.button > input {
    padding: 0.5rem;
    font-size: 1.2rem;
    
}

.button > input:hover {
    color: lightcoral;
}